@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2"), url("../fonts/gilroyextrabold.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2"), url("../fonts/gilroylight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2"), url("../fonts/opensans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff2"), url("../fonts/opensanslight.woff");
  font-weight: 300;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Gilroy", "Verdana", sans-serif;
  min-width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header .wrapper {
  background-color: #f7e296;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 60px;
  padding-bottom: 49px;
  padding-left: 60px;
  margin-top: 40px;
}

.wrapper.wrapper-header {
  padding-bottom: 162px;
  width: 1160px;
}

.wrapper.wrapper-header--catalog {
  padding-bottom: 49px;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.user-nav__search {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  width: 50%;
  /* For IE 11 */
}

.user-nav__search-form input::-webkit-input-placeholder {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search-form input::-moz-placeholder {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search-form input:-ms-input-placeholder {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search-form input::-ms-input-placeholder {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search-form input::placeholder {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 442px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user-nav__search-form::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__input {
  position: relative;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  padding-left: 36px;
  width: 100%;
}

.user-nav__input:hover {
  opacity: 0.6;
}

.user-nav__btn {
  position: relative;
  opacity: 0.0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 18px;
  padding-left: 18px;
  border: 2px solid #000000;
  color: #000000;
  background-color: transparent;
}

.user-nav__btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.user-nav__btn:active,
.user-nav__btn:focus {
  opacity: 1.0;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-nav__btn::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  height: 2px;
  width: 442px;
  background-color: #000000;
}

.user-nav__input:focus+.user-nav__btn,
.user-nav__input:active+.user-nav__btn {
  opacity: 1.0;
}

.user-nav__enter {
  position: relative;
  padding-left: 23px;
  margin-right: 185px;
}

.user-nav__user-name {
  margin-right: 0;
}

.user-nav__enter::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -3px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__compare {
  position: relative;
  padding-left: 27px;
  margin-right: 12px;
}

.user-nav__compare::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 13px;
  height: 12px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__cart {
  position: relative;
  padding-left: 27px;
}

.user-nav__cart::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2em;
}

.site-nav__catalog {
  position: relative;
  margin-right: 268px;
}

.site-nav__catalog>a {
  position: relative;
  padding-right: 33px;
}

.site-nav__catalog>a::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 5px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.site-nav a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.site-nav__item--delivery {
  margin-right: 34px;
  padding-left: 22px;
}

.site-nav__item--contact {
  margin-left: auto;
}

.sub-menu {
  display: none;
  left: -60px;
  padding: 0;
  padding-bottom: 13px;
  padding-left: 60px;
  margin: 0;
  list-style: none;
  width: 1160px;
  background-color: #f7e296;
  z-index: 1;
}

.sub-menu:hover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__catalog:hover .sub-menu,
.site-nav__catalog:focus .sub-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-menu__list {
  list-style: none;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  margin-right: 55px;
}

.sub-menu__list--second {
  margin-right: 73px;
}

.sub-menu a {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: normal;
  text-transform: none;
}

.header-logo {
  width: 163px;
  margin-bottom: 14px;
  margin-top: -18px;
}

.header-logo:hover,
.header a:hover {
  opacity: 0.6;
}

.header-logo:active,
.header a:active {
  opacity: 0.3;
}

.slider {
  position: relative;
  margin-top: -111px;
  z-index: 0;
}

.slider__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.slider__item {
  padding-left: 90px;
  padding-bottom: 99px;
  display: none;
  margin: 0 auto;
}

.slider__item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item.slider__item--2 {
  padding-left: 116px;
  padding-bottom: 87px;
}

.slider__item--2 .slider__img {
  padding-top: 13px;
  margin-right: 138px;
}

.slider__item--2 .slider__text {
  padding-right: 105px;
}

.slider__item.slider__item--3 {
  padding-left: 32px;
  padding-bottom: 107px;
}

.slider__item--3 .slider__img {
  padding-top: 66px;
  margin-right: 43px;
}

.slider__item--3 .slider__title {
  padding-right: 55px;
}

.slider__item--3 .slider__text {
  padding-right: 85px;
}

.slider__content {
  position: relative;
  padding-top: 50px;
}

.slider__img {
  margin-right: 125px;
}

.slider__title {
  display: block;
  position: relative;
  margin-top: 29px;
  margin-bottom: 19px;
  padding-right: 95px;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.slider__content::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  left: 1px;
  top: 37px;
}

.slider__item--1 .slider__content::after {
  content: "01";
  position: absolute;
  font-size: 179.2px;
  line-height: 179.2px;
  font-weight: bold;
  color: #ffffff;
  right: 49px;
  top: -13px;
  z-index: -1;
}

.slider__item--2 .slider__content::after {
  content: "02";
  position: absolute;
  font-size: 179.2px;
  line-height: 179.2px;
  font-weight: bold;
  color: #ffffff;
  right: 49px;
  top: -13px;
  z-index: -1;
}

.slider__item--3 .slider__content::after {
  content: "03";
  position: absolute;
  font-size: 179.2px;
  line-height: 179.2px;
  font-weight: bold;
  color: #ffffff;
  right: 49px;
  top: -13px;
  z-index: -1;
}

.slider__text {
  padding: 0;
  margin: 0;
  padding-right: 75px;
  margin-bottom: 38px;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Light", "Verdana", "sans-serif";
  letter-spacing: 0.01em;
}

.slider__link {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 40px;
  letter-spacing: 0.01em;
}

.slider__spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider__term {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.slider__term td {
  padding-right: 72px;
  padding-bottom: 5px;
}

.slider__item--3 td {
  padding-right: 36px;
}

.slider__term td:last-child {
  padding-right: 0;
}

.slider__data {
  font-family: "Open Sans", "Verdana", "sans-serif";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: #464646;
}

.slider-nav {
  position: absolute;
  bottom: 257px;
  right: 68px;
}

.slider-nav__btn {
  position: relative;
  margin-right: 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.slider-nav__btn::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0px;
  left: 0px;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-nav__btn--active::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0px;
  left: 0px;
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-goods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.popular-goods__item {
  position: relative;
  -ms-flex-preferred-size: 160px;
  flex-basis: 160px;
  width: 160px;
  /* For IE 11 */
}

.popular-goods__item a {
  display: block;
  padding-top: 196px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.popular-goods__item a:hover::before,
.popular-goods__item a:active::before {
  opacity: 1.0;
}

.popular-goods__item a:active::after {
  opacity: 0.3;
}

.popular-goods__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-goods__item a::before {
  content: "";
  position: absolute;
  height: 160px;
  width: 160px;
  top: 3px;
  left: 0px;
  background-color: #f0c52e;
  opacity: 0.5;
}

.popular-goods__item--vr a::after {
  content: "";
  position: absolute;
  height: 55px;
  width: 97px;
  top: 55px;
  left: 31px;
  background-image: url("../img/vr.svg");
}

.popular-goods__item--monopodes a::after {
  content: "";
  position: absolute;
  height: 117px;
  width: 86px;
  top: 44px;
  left: 38px;
  background-image: url("../img/monopodes.svg");
}

.popular-goods__item--monopodes a {
  padding-right: 40px;
}

.popular-goods__item--action_cam a::after {
  content: "";
  position: absolute;
  height: 87px;
  width: 71px;
  top: 41px;
  left: 49px;
  background-image: url("../img/action_cam.svg");
}

.popular-goods__item--fitness a::after {
  content: "";
  position: absolute;
  height: 65px;
  width: 107px;
  top: 53px;
  left: 29px;
  background-image: url("../img/fitness.svg");
}

.popular-goods__item--watches a::after {
  content: "";
  position: absolute;
  height: 98px;
  width: 56px;
  top: 35px;
  left: 55px;
  background-image: url("../img/watches.svg");
}

.popular-goods__item--drones a::after {
  content: "";
  position: absolute;
  height: 69px;
  width: 132px;
  top: 52px;
  left: 13px;
  background-image: url("../img/drones.svg");
}

.popular-goods {
  margin-bottom: 75px;
}

.services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 166px;
}

.services__list {
  padding: 0;
  padding-top: 85px;
  padding-bottom: 65px;
  margin: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style: none;
  width: 284px;
  border-right: 7px solid #000000;
}

.services__item {
  margin-bottom: 23px;
}

.services__item:last-child {
  margin: 0;
}

.services__btn {
  position: relative;
  border: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  width: 160px;
  cursor: pointer;
}

.services__btn::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.services__btn:hover,
.services__btn:focus {
  background-color: #f0c52e;
}

.services__btn--active,
.services__btn:active {
  padding-left: 17px;
  background-color: #000000;
  color: #f7e184;
  width: 100%;
  text-align: left;
}

.services__btn--active:hover,
.services__btn--active:focus {
  background-color: #000000;
}

.services__info-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services__info h3 {
  margin: 0;
  margin-bottom: 29px;
  padding-top: 80px;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  letter-spacing: 0.01em;
}

.services__info p {
  margin: 0;
  font-family: "Open Sans Light", "verdana", "sans-serif";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.015em;
}

.services__info--credit p {
  padding-right: 10px;
}

.services__btn-guarantee.services__btn--active {
  padding-left: 28px;
}

.services__btn-credit.services__btn--active {
  padding-left: 43px;
}

.services__info {
  position: relative;
  display: none;
  padding-left: 117px;
  padding-right: 300px;
}

.services__info--active {
  display: block;
}

.services__info--delivery::before {
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  top: 89px;
  right: 65px;
  background-image: url("../img/delivery.svg");
}

.services__info--guarantee::before {
  content: "";
  position: absolute;
  width: 171px;
  height: 195px;
  top: 67px;
  right: 46px;
  background-image: url("../img/warranty.svg");
}

.services__info--credit::before {
  content: "";
  position: absolute;
  width: 156px;
  height: 188px;
  top: 67px;
  right: 68px;
  background-image: url("../img/credit.svg");
}

.services-wrapped {
  position: relative;
}

.services-wrapped::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 288px;
  top: 106px;
  left: 0px;
  background-color: #e5e5e5;
  z-index: -2;
}

.producers {
  margin-bottom: 46px;
}

.producers__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.producers__item {
  margin-right: 39px;
}

.producers__item a {
  display: block;
}

.producers__item img {
  opacity: 0;
}

.producers__item img:hover,
.producers__item a:focus img {
  opacity: 1;
}

.producers__item--dji {
  background-image: url("../img/logo-dji-grey.png");
}

.producers__item--spgadget {
  background-image: url("../img/logo-spgadget-grey.png");
}

.producers__item--gopro {
  background-image: url("../img/logo-gopro-grey.png");
}

.producers__item--vive {
  background-image: url("../img/logo-vive-grey.png");
}

.inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 88px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-us {
  position: relative;
  padding-top: 56px;
  padding-right: 100px;
}

.contacts {
  position: relative;
  padding-top: 56px;
}

.about-us__title::before,
.contacts__title::before {
  content: "";
  position: absolute;
  top: 43px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us__title,
.contacts__title {
  margin-bottom: 43px;
  font-size: 47px;
  line-height: 48px;
}

.about-us__text,
.contacts__text {
  padding-right: 25px;
  margin-bottom: 30px;
  width: 560px;
  font-family: "Open Sans Light", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.about-us__text {
  width: 490px;
  padding-right: 15px;
}

.about-us__list {
  margin-bottom: 65px;
  padding: 0;
  padding-top: 35px;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  list-style: none;
}

.about-us__list li {
  position: relative;
  padding-left: 35px;
}

.about-us__list li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 16px;
  left: 1px;
  background-image: url("../img/slider-info-button.png");
}

.about-us__link {
  position: relative;
  padding-top: 14px;
  padding-right: 19px;
  padding-bottom: 14px;
  padding-left: 23px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.contacts__write-us {
  position: relative;
  padding-top: 14px;
  padding-right: 36px;
  padding-bottom: 14px;
  padding-left: 41px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.contacts__map {
  display: block;
  padding-top: 10px;
  margin-bottom: 73px;
  cursor: pointer;
}

.filter-form__submit,
.slider__link {
  position: relative;
  padding-top: 14px;
  padding-right: 41px;
  padding-bottom: 14px;
  padding-left: 44px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us__link::after,
.contacts__write-us::after,
.filter-form__submit::after,
.slider__link::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 0px;
  width: 100%;
  height: 6px;
  background-color: #f0c52e;
  z-index: -1;
}

.about-us__link:hover,
.contacts__write-us:hover,
.filter-form__submit:hover,
.slider__link:hover,
.goods__cart:hover,
.about-us__link:focus,
.contacts__write-us:focus,
.filter-form__submit:focus,
.slider__link:focus,
.goods__cart:focus {
  background-color: #f0c52e;
}

.about-us__link:active,
.contacts__write-us:active,
.filter-form__submit:active,
.slider__link:active,
.goods__cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer .wrapper {
  padding-top: 60px;
}

.footer {
  background-color: #464646;
  color: #ffffff;
}

.footer__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 29px;
}

.footer__user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  widows: 300px;
  /* For IE 11 */
  padding-left: 40px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.footer__user-nav--catalog {
  -ms-flex-preferred-size: 452px;
  flex-basis: 452px;
  width: 452px;
  /* For IE 11 */
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.footer__user-item a {
  position: relative;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer__user-item a:hover {
  color: rgba(255, 255, 255, 1.0);
}

.footer__user-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__user-item--enter a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -25px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__user-item a:hover::before {
  opacity: 0.6;
}

.footer__user-item a:active::before {
  opacity: 0.3;
}

.footer__user-item--compare a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -18px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__user-item--cart a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -20px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__nav-item a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
}

.footer__nav {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: -8px;
  margin-left: auto;
  padding: 0;
  width: 464px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__nav-item {
  margin-right: 34px;
}

.footer__nav-item a:hover {
  opacity: 0.6;
}

.footer__nav-item a:active {
  opacity: 0.3;
}

.wrapper-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 64px;
}

.footer__tel,
.footer__address {
  font-family: "Open Sans Light", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.footer__address {
  position: relative;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.footer__tel {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.footer__address::after {
  content: "";
  position: absolute;
  bottom: -85px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.wrapper-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 65px;
}

.footer__social-list {
  list-style: none;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 508px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 140px;
}

.footer__social-item {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.footer__social-item:hover {
  opacity: 0.6;
}

.footer__social-item:active {
  opacity: 0.1;
}

.footer__logo {
  display: block;
  margin-right: auto;
  margin-top: 5px;
  height: 35px;
  width: 163px;
  fill: #ffc600;
  cursor: pointer;
}

.footer__logo:hover {
  opacity: 0.6;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__link:active {
  opacity: 0.3;
}

.modal {
  position: fixed;
  display: none;
  height: 550px;
  width: 960px;
  margin: auto;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  font-weight: 800;
  background-color: #ffffff;
  top: 150px;
  left: 50%;
  margin-left: -480px;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

.modal form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 93px;
  margin: auto;
  width: 760px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  width: 360px;
}

.message-wrapper {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-close-btn {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 22px;
  right: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.modal-close-btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2f7cc0;
  box-shadow: 0 0 0 2px #2f7cc0;
}

.modal-close-btn::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0px;
  right: 0px;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.modal-close-btn:hover,
.modal-close-btn:hover::before {
  opacity: 1.0;
}

.modal-close-btn:active,
.modal-close-btn:active::before {
  opacity: 0.3;
}

.modal label {
  font-family: "Gillroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 14px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea {
  padding: 20px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f2f2f2;
  text-align: left;
}

.modal input[type="text"]:hover,
.modal input[type="email"]:hover,
.modal textarea:hover {
  background-color: #eaeaea;
}

.modal input[type="text"]:focus,
.modal input[type="email"]:focus,
.modal textarea:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #f7e296;
  box-shadow: 0 0 0 3px #f7e296;
}

.modal input[type="text"]:invalid,
.modal input[type="email"]:invalid {
  background-color: #f6dada;
}

.modal textarea {
  margin-bottom: 55px;
  resize: none;
}

.modal__submit {
  position: relative;
  width: 200px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  cursor: pointer;
  border: 0;
  padding-top: 14px;
  padding-right: 36px;
  padding-bottom: 14px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  letter-spacing: 0.2em;
}

.modal__submit::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.modal__submit:focus {
  background-color: #f0c52e;
}

.modal__submit:hover {
  background-color: #f0c52e;
}

.modal__submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.map-popup {
  position: fixed;
  display: none;
  margin: auto;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 960px;
  height: 559px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.map-popup-close {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 22px;
  right: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.map-popup-close:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2f7cc0;
  box-shadow: 0 0 0 2px #2f7cc0;
}

.map-popup-close::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0px;
  right: 0px;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.map-popup-close:hover,
.map-popup-close:hover::before {
  opacity: 1.0;
}

.map-popup-close:active,
.map-popup-close:active::before {
  opacity: 0.3;
}

.map-popup iframe {
  border: 0;
}

.map-popup {
  background-image: url("../img/map-big.jpg");
}

.user-nav__exit {
  opacity: 0.3;
  margin-right: 54px;
}

.user-nav--logged .user-nav__search {
  margin-right: 24px;
}

.user-nav--logged {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.user-nav--logged .user-nav__user-name {
  margin-right: 18px;
}

.user-nav--logged .user-nav__compare {
  margin-right: 33px;
}

.main-content {
  position: relative;
}

.main-content::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-content::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 100%;
  position: absolute;
  right: calc(50% + 252px);
  top: 0;
}

.main-wrapper {
  width: 1160px;
  margin: auto;
  margin-bottom: 46px;
  padding-top: 4px;
  padding-right: 60px;
  padding-left: 60px;
  word-break: break-word;
}

.items-wrapped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  width: 1160px;
}

.main__title {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 7px;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.main__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcumbs__item {
  position: relative;
  padding-right: 40px;
}

.breadcumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 9px;
  right: 18px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.main__breadcrumbs a {
  font-family: "Open Sans Light", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.main__breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main__breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  position: relative;
  width: 328px;
  padding-left: 60px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.filter-form__title {
  padding-bottom: 24px;
  padding-top: 10px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.filter-form__title:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: #000000;
  top: -2px;
  left: 0px;
}

.filter-form__fieldset--checkbox .filter-form__title {
  padding-bottom: 18px;
}

.filter-form__fieldset--radio .filter-form__title {
  padding-bottom: 20px;
}

.filter-form__fieldset {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  border: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter-form__fieldset ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-form__fieldset--checkbox {
  margin-bottom: 32px;
}

.filter-form__fieldset--radio {
  margin-bottom: 24px;
}

.filter-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 47px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-break: break-word;
}

.range-filter {
  width: 200px;
}

.range-controls {
  position: relative;
  margin-bottom: 9px;
  padding-top: 12px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle-min::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -5px;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.range-controls .toggle-max::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 72px;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
  background: transparent;
  border: none;
  width: 40px;
  height: 25px;
  padding-left: 4px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.min-price {
  margin-right: 36px;
}

b.filter-title {
  padding-top: 22px;
}

.filter-form__label {
  position: relative;
  padding-left: 40px;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  word-break: break-word;
}

.filter-form__label::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 23px;
  top: -2px;
  left: 0px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__checkbox:checked+.filter-form__label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: -2px;
  left: 0px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__checkbox:focus+.filter-form__label::before,
.filter-form__radio:focus+.filter-form__label--radio::before {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #61acee;
  box-shadow: 0 0 0 3px #61acee;
}

.filter-form__checkbox:checked+.filter-form__label:hover::before,
.filter-form__checkbox:hover+.filter-form__label:hover::before {
  opacity: 0.6;
}

.filter-form__checkbox:disabled+.filter-form__label::before,
.filter-form__checkbox:disabled+.filter-form__label {
  opacity: 0.25;
}

.radio-list {
  list-style: none;
  padding: 0;
}

.filter-form__label--radio {
  position: relative;
  padding-left: 40px;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 40px;
  list-style: none;
  cursor: pointer;
}

.filter-form__label--radio::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -4px;
  left: 0px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__radio:checked+.filter-form__label--radio::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -4px;
  left: 0px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__radio:checked+.filter-form__label--radio:hover::before,
.filter-form__radio+.filter-form__label--radio:hover::before {
  opacity: 0.6;
}

.filter-form__radio:disabled+.filter-form__label--radio::before,
.filter-form__radio:checked:disabled+.filter-form__label--radio::before {
  opacity: 0.25;
}

.filter-form input[type="submit"] {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.filter-form__submit {
  position: relative;
  width: 200px;
  padding-top: 15px;
  padding-left: 41px;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  letter-spacing: 0.2em;
}

.filter-form__submit::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.filter-form__submit:focus {
  background-color: #f0c52e;
}

.filter-form__submit:hover {
  background-color: #f0c52e;
}

.filter-form__submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 73px;
  padding-top: 27px;
  padding-bottom: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sorting b {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sort-list,
.arrows-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list {
  width: 500px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sort-list li:first-child {
  padding-left: 54px;
}

.sort-list__item {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 30px;
}

.sort-list__item a {
  opacity: 0.3;
}

.sort-list__item a:hover {
  opacity: 0.6;
}

.sort-list__item a:active {
  opacity: 1.0;
}

.sort-list__item--active a {
  opacity: 1.0;
}

.arrows-list {
  margin-left: 75px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.arrows-list__item {
  margin-right: 19px;
}

.arrows-list__up {
  display: block;
  position: relative;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  opacity: 0.2;
}

.arrows-list__down {
  display: block;
  position: relative;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  opacity: 0.2;
}

.arrows--active {
  opacity: 1.0;
}

.arrows-list__up:hover,
.arrows-list__down:hover {
  opacity: 0.4;
}

.arrows-list__up:active,
.arrows-list__down:active {
  opacity: 1.0;
}

.arrows-list__up:focus,
.arrows-list__down:focus {
  opacity: 0.4;
}

.goods__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 69px;
  padding-left: 72px;
  margin: 0;
  width: 855px;
}

.goods__item {
  width: 360px;
  margin-bottom: 50px;
}

.goods__item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.goods__item img {
  margin-bottom: 30px;
}

.goods__card {
  position: relative;
}

.goods__card:hover .goods__photo {
  cursor: pointer;
  opacity: 0.5;
  z-index: -1;
}

.goods__item--new {
  position: relative;
}

.goods__item--new::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 61px;
  top: 30px;
  right: 26px;
  background-image: url("../img/new_product.png");
  z-index: 1;
}

.goods__card:hover .goods__cart,
.goods__card:hover .goods__compare {
  display: block;
}

.goods__cart {
  display: none;
  position: absolute;
  top: 166px;
  left: 82px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top: 14px;
  padding-right: 38px;
  padding-bottom: 14px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #000000;
  z-index: 1;
}

.goods__cart::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 0px;
  width: 100%;
  height: 6px;
  background-color: #f0c52e;
  z-index: -1;
}

.goods__compare {
  display: none;
  position: absolute;
  top: 218px;
  left: 110px;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5)
}

.goods__compare:hover {
  color: rgba(0, 0, 0, 1.0)
}

.goods__compare:active {
  color: rgba(0, 0, 0, 0.2)
}

.goods__list-title {
  margin: 0;
}

.goods__item-title {
  margin: 0;
  letter-spacing: 0.01em;
}

.goods__item-link {
  width: 270px;
}

.goods__item-price {
  color: #464646;
  font-weight: 300;
}

.goods__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 760px;
  padding: 0;
  margin-top: -13px;
  margin-bottom: 75px;
  margin-left: 72px;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__list a {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.pagination__item a {
  display: block;
  padding-top: 28px;
  padding-right: 30px;
  padding-bottom: 28px;
  padding-left: 30px;
}

.pagination__item .pagination__back:hover,
.pagination__item .pagination__forward:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__item .pagination__back:active,
.pagination__item .pagination__forward:active {
  color: rgba(0, 0, 0, 0.3)
}

.num__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.num__item a {
  opacity: 0.3;
  padding-left: 20px;
  padding-right: 8px;
}

.num__item a:hover {
  opacity: 0.6;
}

.num__item a:active,
.num__item--active a {
  opacity: 1.0;
}

.footer__user-nav--catalog .footer__user-item--exit {
  margin-left: 9px;
}

.footer__user-nav--catalog .footer__user-item--compare {
  margin-left: 30px;
}

.footer__user-nav--catalog .footer__user-item--cart {
  margin-left: 30px;
}
