@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff"),
    url("../fonts/gilroyextrabold.woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff"),
    url("../fonts/gilroylight.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff"),
    url("../fonts/opensans.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff"),
    url("../fonts/opensanslight.woff2");
  font-weight: 300;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Gilroy", "Verdana", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.header .wrapper {
  background-color: rgba(240, 197, 46, 0.5);
  color: #000000;
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  padding-left: 60px;
  margin-top: 40px;
}

.user-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  justify-content: space-between;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.user-nav__search {
  flex-basis: 50%;
}

.user-nav__search-form input::placeholder {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__enter {
  margin-right: 218px;
}

.site-nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.site-nav__catalog {
  flex-basis: 50%;
}

.site-nav__guarantee {
  margin-right: 114px;
}

.site-nav a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.sub-menu {
  display: none;
}

.sub-menu a {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: normal;
  text-transform: none;
}

.header-logo {
  margin-bottom: 35px;
  margin-top: -18px;
}

.header-logo:hover,
.header a:hover {
  opacity: 0.6;
}

.header-logo:active,
.header a:active {
  opacity: 0.3;
}

.user-nav__input {
  border: none;
  box-shadow: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
}

.user-nav__input:hover {
  opacity: 0.6;
}

.user-nav__input:focus {
  color: #000000;
}

.user-nav__btn {
  border: 2px solid #000000;
  color: #000000;
  background-color: transparent;
}

.user-nav__btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.user-nav__btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.producers__list {
  display: flex;
  list-style: none;
}

.inner-wrapper {
  display: flex;
  margin-bottom: 95px;
  justify-content: space-between;
}

.about-us {
  padding-right: 100px;
}

.about-us__title,
.contacts__title {
  margin-bottom: 60px;
  font-size: 47px;
  line-height: 48px;
}

.about-us__text,
.contacts__text {
  margin-bottom: 50px;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.about-us__list {
  margin-bottom: 80px;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
}

.contacts__map img {
  margin-bottom: 80px;
}

.about-us__link,
.contacts__write-us,
.filter-form__submit,
.slider__link {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us__link:hover,
.contacts__write-us:hover,
.filter-form__submit:hover,
.slider__link:hover {
  background-color: #f0c52e;
}

.about-us__link:active,
.contacts__write-us:active,
.filter-form__submit:active,
.slider__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer .wrapper {
  padding-top: 65px;
}

.footer {
  background-color: #464646;
  color: #ffffff;
}

.footer__user-nav {
  justify-content: flex-end;
}

.footer__user-item {
  margin-top: -35px;
  padding-right: 40px;
  padding-left: 40px;
}

.footer__user-item a {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer__user-item a:hover {
  color: rgba(255, 255, 255, 1.0);
}

.footer__user-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-nav {
  display: flex;
  flex-direction: colum;
  justify-content: space-between;
}

.footer__nav-item a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-nav {
  flex-direction: row;
}

.footer__nav-item a:hover {
  opacity: 0.6;
}

.footer__nav-item a:active {
  opacity: 0.3;
}

.wrapper-footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer__nav-item {
  padding-right: 40px;
}

.footer__tel,
.footer__address {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.wrapper-footer__icons {
  display: flex;
  justify-content: flex-end;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer__social-item--twitter {
  margin-right: 485px;
}

.footer__logo {
  display: block;
  height: 35px;
  width: 163px;
  fill: #ffc600;
  cursor: pointer;
}

.footer__logo:hover {
  opacity: 0.6;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__link:active {
  opacity: 0.3;
}

.modal,
.map-popup {
  display: none;
}

.user-nav__exit {
  opacity: 0.3;
}

.main-content {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 1160px;
}

.main .wrapper {
  padding-right: 60px;
  padding-left: 60px;
}

.main__title {
  font-size: 47px;
  line-height: 48px;
}

.main__breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
}

.breadcumbs__item {
  margin-right: 16px;
}

.main__breadcrumbs a {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.main__breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main__breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  background-color: #eeeeee;
  width: 328px;
  padding-left: 60px;
  flex-shrink: 0;
}

.filter-form__title {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.filter-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #dcdcdc;
}

.filter-form__label {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 40px;
}

.filter-form input[type="submit"] {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.filter-form__fieldset {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
}

.sorting {
  display: flex;
  padding-left: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.08)
}

.sorting b {
  text-transform: uppercase;
}

.sort-list,
.arrows-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: baseline;
}

.goods__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 69px;
  padding-left: 72px;
  margin: 0;
}

.goods__item {
  width: 360px;
  margin-bottom: 38px;
}

.goods__item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.goods__item img {
  margin-bottom: 38px;
}

.goods__list-title {
  margin: 0;

}

.goods__item-title {
  margin: 0;
  flex-basis: 75%;
  padding-right: 40px;
}

.goods__item-info {
  display: flex;
  justify-content: space-between;
}

.pagination__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 78px;
  margin-left: 72px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: #ebebeb;
}

.pagination__list a {
  text-transform: uppercase;
  font-weight: bold;
}

