@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff"),
    url("../fonts/gilroyextrabold.woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff"),
    url("../fonts/gilroylight.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff"),
    url("../fonts/opensans.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff"),
    url("../fonts/opensanslight.woff2");
  font-weight: 300;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Gilroy", "Verdana", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.header .wrapper {
  background-color: #f7e296;
  color: #000000;
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  padding-bottom: 49px;
  padding-left: 60px;
  margin-top: 40px;
}

.user-nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  justify-content: space-between;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.user-nav__search {
  flex-basis: 50%;
}

.user-nav__search-form input::placeholder {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search-form {
  position: relative;
  display: flex;
  width: 442px;
  justify-content: space-between;
}

.user-nav__search-form::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__input {
  position: relative;
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding-left: 36px;
  width: 100%;
}

.user-nav__input:hover {
  opacity: 0.6;
}

.user-nav__btn {
  position: relative;
  opacity: 0.0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 18px;
  padding-left: 18px;
  border: 2px solid #000000;
  color: #000000;
  background-color: transparent;
}

.user-nav__btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.user-nav__btn:active,
.user-nav__btn:focus {
  opacity: 1.0;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-nav__btn::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  height: 2px;
  width: 442px;
  background-color: #000000;
}

.user-nav__input:focus + .user-nav__btn,
.user-nav__input:active + .user-nav__btn {
  opacity: 1.0;
}

.user-nav__enter {
  position: relative;
  padding-left: 27px;
  margin-right: 185px;
}

.user-nav__user-name {
  margin-right: 0;
}

.user-nav__enter::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__compare {
  position: relative;

  padding-left: 27px;
  margin-right: 12px;
}

.user-nav__compare::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 13px;
  height: 12px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__cart {
  position: relative;
  padding-left: 27px;
}

.user-nav__cart::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2em;
}

.site-nav__catalog {
  position: relative;
  flex-basis: 50%;
}

.site-nav__catalog > a {
  position: relative;
  padding-right: 33px;
}

.site-nav__catalog > a::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.site-nav__guarantee {
  margin-right: 114px;
}

.site-nav a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.site-nav__item--delivery {
  margin-right: 32px;
  padding-left: 22px;
}

.site-nav__item--contact {
  margin-left: auto;
}

.sub-menu {
  display: none;
  left: -60px;
  padding: 0;
  padding-left: 60px;
  margin: 0;
  list-style: none;
  width: 1160px;
  background-color: #f7e296;
}

.sub-menu:hover {
  position: absolute;
  display: flex;
}

.site-nav__catalog a:hover + .sub-menu {
  position: absolute;
  display: flex;
}

.sub-menu__column ul {
  list-style: none;
  padding: 0;
  padding-top: 40px;
  margin: 0;
}

.sub-menu__item {
  margin-right: 55px;
}

.sub-menu a {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: normal;
  text-transform: none;
}

.header-logo {
  width: 163px;
  margin-bottom: 23px;
  margin-top: -18px;
}

.header-logo:hover,
.header a:hover {
  opacity: 0.6;
}

.header-logo:active,
.header a:active {
  opacity: 0.3;
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider__item {
  display: none;
}

.slider__item:first-child {
  display: block;
}

.producers__list {
  display: flex;
  list-style: none;
}

.inner-wrapper {
  display: flex;
  margin-bottom: 95px;
  justify-content: space-between;
}

.about-us {
  position: relative;
  padding-top: 56px;
  padding-right: 100px;
}

.contacts {
  position: relative;
  padding-top: 56px;
}

.about-us__title::before,
.contacts__title::before {
  content: "";
  position: absolute;
  top: 43px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us__title,
.contacts__title {
  margin-bottom: 43px;
  font-size: 47px;
  line-height: 48px;
}

.about-us__text,
.contacts__text {
  margin-bottom: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.about-us__list {
  margin-bottom: 65px;
  padding-top: 35px;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  list-style: none;
}

.contacts__map {
  display: block;
  padding-top: 10px;
  margin-bottom: 73px;
}

.about-us__link,
.contacts__write-us,
.filter-form__submit,
.slider__link,
.goods__cart {
  position: relative;
  padding-top: 14px;
  padding-right: 41px;
  padding-bottom: 14px;
  padding-left: 41px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us__link::after,
.contacts__write-us::after,
.filter-form__submit::after,
.slider__link::after,
.goods__cart::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.about-us__link:hover,
.contacts__write-us:hover,
.filter-form__submit:hover,
.slider__link:hover,
.goods__cart:hover {
  background-color: #f0c52e;
}

.about-us__link:active,
.contacts__write-us:active,
.filter-form__submit:active,
.slider__link:active,
.goods__cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer .wrapper {
  padding-top: 65px;
}

.footer {
  background-color: #464646;
  color: #ffffff;
}

.footer__top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer__user-nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.footer__user-item a {
  position: relative;
  padding-left: 40px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer__user-item a:hover {
  color: rgba(255, 255, 255, 1.0);
}

.footer__user-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__user-item--enter a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 15px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__user-item a:hover::before {
  opacity: 0.6;
}

.footer__user-item a:active::before {
  opacity: 0.3;
}

.footer__user-item--compare a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 15px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__user-item--cart a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 15px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-nav {
  display: flex;
  flex-direction: colum;
  justify-content: space-between;
}

.footer__nav-item a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
}

.footer__nav {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 440px;
  flex-wrap: wrap;

}

.footer__nav-item a:hover {
  opacity: 0.6;
}

.footer__nav-item a:active {
  opacity: 0.3;
}

.wrapper-footer__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 60px;
}

.footer__tel,
.footer__address {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.footer__address {
  position: relative;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.footer__tel {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.footer__address::after {
  content: "";
  position: absolute;
  bottom: -83px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.wrapper-footer__icons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 65px;
}

.footer__social-list {
  list-style: none;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 160px;
}

.footer__social-item {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  opacity: 0.3;
}

.footer__social-item:hover {
  opacity: 0.6;
}

.footer__social-item:active {
  opacity: 0.1;
}

.footer__logo {
  display: block;
  height: 35px;
  width: 163px;
  fill: #ffc600;
  cursor: pointer;
}

.footer__logo:hover {
  opacity: 0.6;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__link:active {
  opacity: 0.3;
}

.modal {
  position: relative;
  display: block;
  height: 550px;
  width: 960px;
  margin: auto;
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
  font-weight: 800;
}

.modal form {
  position: relative;
  display: flex;
  padding-top: 93px;
  margin: auto;
  width: 760px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 360px;
}

.message-wrapper {
  width: 760px;
  display: flex;
  flex-direction: column;
}

.modal-close-btn {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 22px;
  right: 22px;
  border-radius: 50%;
  border: none;
}

.modal-close-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2f7cc0;
}

.modal-close-btn::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0px;
  right: 0px;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.modal-close-btn:hover,
.modal-close-btn:hover::before {
  opacity: 1.0;
}

.modal-close-btn:active,
.modal-close-btn:active::before {
  opacity: 0.3;
}

.modal label {
  font-family: "Gillroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 14px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea {
  padding: 20px;
  border: none;
  box-shadow: none;
  background-color: #f2f2f2;
  text-align: left;
}

.modal input[type="text"]:hover,
.modal input[type="email"]:hover,
.modal textarea:hover {
  background-color: #eaeaea;
}

.modal input[type="text"]:focus,
.modal input[type="email"]:focus,
.modal textarea:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
  box-shadow: 0 0 0 2px #f7e296;
}

.modal input[type="text"]:invalid,
.modal input[type="email"]:invalid {
  background-color: #f6dada;
}

.modal textarea {
  margin-bottom: 55px;
  resize: none;
}

.modal__submit {
  position: relative;
  width: 200px;
  justify-content: flex-start;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  letter-spacing: 0.2em;
}

.modal__submit::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.modal__submit:focus {
  background-color: #f0c52e;
}

.modal__submit:hover {
  background-color: #f0c52e;
}

.modal__submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.map-popup {
  position: relative;
  display: block;
  margin: auto;
  width: 960px;
  height: 559px;
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.map-popup-close {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 22px;
  right: 22px;
  border-radius: 50%;
  border: none;

}

.map-popup-close:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2f7cc0;
}

.map-popup-close::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0px;
  right: 0px;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.map-popup-close:hover,
.map-popup-close:hover::before {
  opacity: 1.0;
}

.map-popup-close:active,
.map-popup-close:active::before {
  opacity: 0.3;
}

.user-nav__exit {
  opacity: 0.3;
}

.main-content {
  position: relative;
}

.main-content::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-content::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 100%;
  position: absolute;
  right: calc(50% + 252px);
  top: 0;
}

.main-wrapper {
  width: 1160px;
  margin: auto;
  margin-bottom: 46px;
  padding-top: 4px;
  padding-right: 60px;
  padding-left: 60px;
  word-break: break-word;
}

.items-wrapped {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main__title {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 7px;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.main__breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
}

.breadcumbs__item {
  position: relative;
  padding-right: 40px;
}

.breadcumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 9px;
  right: 22px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.main__breadcrumbs a {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.main__breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main__breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  position: relative;
  width: 328px;
  padding-left: 60px;
  flex-shrink: 0;
}

.filter-form__title {
  padding-bottom: 24px;
  padding-top: 10px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.filter-form__title:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: #000000;
  top: 0px;
  left: 0px;
}

.filter-form__fieldset {
  position: relative;
  display: flex;
  padding: 0;
  padding-right: 120px;
  margin: 0;
  margin-bottom: 58px;
  border: 0;
}

.filter-form__fieldset:last-of-type {
  margin-bottom: 10px;
}

.filter-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 47px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-break: break-word;
}

b.filter-title {
  padding-top: 22px;
}

.filter-form__label {
  position: relative;
  padding-left: 40px;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  word-break: break-word;
}

.filter-form__label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: 9px;
  left: 0px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__checkbox:checked + .filter-form__label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: 9px;
  left: 0px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__checkbox:focus + .filter-form__label::before,
.filter-form__radio:focus + .filter-form__label--radio::before {
  outline: none;
  box-shadow: 0 0 0 3px #61acee;
}

.filter-form__checkbox:checked + .filter-form__label:hover::before,
.filter-form__checkbox:hover + .filter-form__label:hover::before {
  opacity: 0.6;
}

.filter-form__checkbox:disabled + .filter-form__label::before {
  opacity: 0.25;
}

.radio-list {
  list-style: none;
  padding: 0;
}

.filter-form__label--radio {
  position: relative;
  padding-left: 40px;
  font-family: "Open Sans",
  "Verdana",
  sans-serif;
  font-size: 14px;
  line-height: 40px;
  list-style: none;
  cursor: pointer;
}

.filter-form__label--radio::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left: 0px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__radio:checked + .filter-form__label--radio::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left: 0px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form__radio:checked + .filter-form__label--radio:hover::before,
.filter-form__radio + .filter-form__label--radio:hover::before {
  opacity: 0.6;
}

.filter-form__radio:disabled + .filter-form__label--radio::before,
.filter-form__radio:checked:disabled + .filter-form__label--radio::before {
  opacity: 0.25;
}

.filter-form input[type="submit"] {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.filter-form__submit {
  position: relative;
  width: 200px;
  justify-content: flex-start;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  letter-spacing: 0.2em;
}

.filter-form__submit::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.filter-form__submit:focus {
  background-color: #f0c52e;
}

.filter-form__submit:hover {
  background-color: #f0c52e;
}

.filter-form__submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.sorting {
  position: relative;
  display: flex;
  padding-left: 73px;
  padding-top: 27px;
  padding-bottom: 25px;
}

.sorting b {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sort-list,
.arrows-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list li:first-child {
  padding-left: 54px;
}

.sort-list__item {
  padding-left: 30px;
}

.sort-list__item a {
  opacity: 0.3;
}

.sort-list__item a:hover {
  opacity: 0.6;
}

.sort-list__item a:active {
  opacity: 1.0;
}

.sort-list__item--active a {
  opacity: 1.0;
}

.arrows-list__up {
  position: relative;
  margin-left: 207px;
  padding-left: 10px;
}

.arrows-list__up::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 5px;
  left: 0px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.arrows-list__up:hover::before {
  opacity: 0.4;
}

.arrows-list__up:active::before {
  opacity: 1.0;
}

.arrows-list__down {
  position: relative;
  padding-left: 10px;
  margin-left: 20px;
}

.arrows-list__down::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 5px;
  left: 0px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.arrows-list__down:hover::before {
  opacity: 0.4;
}

.arrows-list__down:active::before,
.arrows--active::before {
  opacity: 1.0;
}

.goods__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 69px;
  padding-left: 72px;
  margin: 0;
}

.goods__item {
  width: 360px;
  margin-bottom: 38px;
}

.goods__item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.goods__item img {
  margin-bottom: 38px;
}

.goods__card {
  position: relative;
}

.goods__card:hover .goods__photo {
  cursor: pointer;
  opacity: 0.5;
  z-index: -10;
}

.goods__card:hover .goods__cart,
.goods__card:hover .goods__compare {
  display: block;
}

.goods__cart {
  display: none;
  position: absolute;
  top: 39%;
  left: 17%;
  font-family: "Gillroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
}

.goods__cart::after {
  top: 22px;
  left: 0px;
}

.goods__compare {
  display: none;
  position: absolute;
  top: 51%;
  left: 29%;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5)
}

.goods__compare:hover {
  color: rgba(0, 0, 0, 1.0)
}

.goods__compare:active {
  color: rgba(0, 0, 0, 0.2)
}

.goods__list-title {
  margin: 0;

}

.goods__item-title {
  margin: 0;
  flex-basis: 75%;
  padding-right: 40px;
}

.goods__item-info {
  display: flex;
  justify-content: space-between;
}

.pagination__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 760px;
  padding: 0;
  margin-bottom: 78px;
  margin-left: 72px;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__list a {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.pagination__item a {
  display: block;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.pagination__item .pagination__back:hover,
.pagination__item .pagination__forward:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__item .pagination__back:active,
.pagination__item .pagination__forward:active {
  color: rgba(0, 0, 0, 0.3)
}

.num__list {
  display: flex;
  margin: auto;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.num__item a {
  opacity: 0.3;
  padding-right: 16px;
  padding-left: 16px;
}

.num__item a:hover {
  opacity: 0.6;
}

.num__item a:active,
.num__item--active a {
  opacity: 1.0;
}
